*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

body{
    height: 100vh;
    display: flex;
    background:darkgreen;
}

#trocar{
    position:fixed;
    bottom: 5px;
    right:5px;
    width: fit-content;
    background: rgb(0, 45, 248);
    border-radius: 5px;
    color:white;
    border: 2px solid #7d807a;
    padding: 5px;
    z-index: 10;
}

#trocar:hover{
    background: red;
}

#cardboard{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); 2 colunas com 1fração da tela cada uma */
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    position: relative;
}

.memory-card{
    width: auto;
    height: auto;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.4s;
    position: relative;
}

.memory-card:active{
    transform: scale(0.97);
}

.memory-card.flip{
    transform:rotateY(180deg);
}

.front-face, .back-face{
    width: 50px;
    height: 74px;
    position: absolute;
    padding: 2%;
    background: rgb(148, 3, 3) ;
    border-radius: 5px;
    border: 1px solid black;
    backface-visibility: hidden;
}

.front-face{
    transform:rotateY(180deg);
    background: ghostwhite;
}


